.container{
  padding: 0 165px;
  .table{
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 24px;
    padding: 24px;
    .table_header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter{
        display: block;
        .filter_title{
          text-align: start;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 20px;
          color: #171717;
        }
        .filter_description{
          margin-top: 12px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: rgba(23, 23, 23, 0.8);
        }
      }
      .add_btn{
        padding: 12px 24px;
        background: #FF494D;
        border-radius: 16px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .admin_table_title{
      display: flex;
      margin-top: 24px;
      table{
        width: 100%;
      }
    }
    .admin_table_content{

    }
  }
}