.container{
  background-color: #f9f9f9;
  .title{
    padding: 30px 165px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .title_name{
      .title_name_myProfile{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        color: #0B132A;
      }
      .title_name_description{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: rgba(23, 23, 23, 0.8);
        mix-blend-mode: normal;
        margin-top: 12px;
      }
    }
  }
  .profilePage{
    margin-top: 28px;
    padding-right: 450px;
    padding-left: 450px;
    padding-bottom: 120px;
    .avatar_container{
      text-align: center;
      .avatarIcon_container{
        display: flex;
        justify-content: center;
        position: relative;
        .avatarIcon_editDiv{
          position: absolute;
          width: 32px;
          height: 32px;
          background: #FF494D;
          mix-blend-mode: normal;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 0;
          right: 210px;
          cursor: pointer;
          img{
            width: 14px;
            height: 14px;
          }
        }
        img{
          object-fit: cover;
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
      }
      .avatar_description{
        margin-top: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #8F92A1;
        mix-blend-mode: normal;
      }
    }
    .profilePage_formContainer{
      margin-top: 32px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 24px;
      width: 100%;
      .form{
        padding: 24px;
        .formTitle{
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 30px;
          letter-spacing: 0.4px;
          color: #171717;
        }
        .formFields{
          margin-top: 24px;
        }
      }
    }
    .profilePage_security_form{
      margin-top: 32px;
      background: #FFFFFF;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 24px;
    }
  }
}
.textField{
  width: 100%;
  margin-top: 26px !important;
  border: none;
  border-radius: 15px;
}
.btn{
  width: 100%;
  background: rgba(222, 53, 11, 0.1);
  border-radius: 16px;
  margin-top: 26px;
  cursor: pointer;
  div{
    text-align: center;
    color: #ffffff;
    padding: 12px 24px;
  }
}