td{
  padding: 12px 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #171717;
}
.dontpaid{
  text-align: start;
}
.status{
  display: flex;
  align-items: center;
  .circle{
    margin-right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .saved{
    background: #00875A;
  }
  .empty{
    background: #8F92A1;
  }
  .in_work{
    background: #FF991F;
  }
}
.successPaid{
  background: rgba(0, 135, 90, 0.2);
  border-radius: 8px;
  padding: 2px 1px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #00875A;
  text-align: center;
  width: 100%;
  margin: auto;
}
.in_work{
  background: rgba(255, 153, 31, 0.2);
  border-radius: 8px;
  padding: 2px 1px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FF991F;
  text-align: center;
  width: 100%;
  margin: auto;
}
.is_empty{
  background: rgba(143, 146, 161, 0.2);
  border-radius: 8px;
  padding: 2px 1px !important;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #171717;
  text-align: center;
  width: 100%;
  margin: auto;
}
.companyName{
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}