.container{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  .header{
    display: flex;
    align-items: center;
    .icon{

    }
    .info{
      margin-left: 24px;
      .title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.4px;
        color: #171717;
      }
      .subtitle{
        display: flex;
        align-items: center;
        .subtitle_title{
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: rgba(23, 23, 23, 0.8);
        }
        .status{
          margin-left: 10px;
          display: flex;
          align-items: center;
          .circle{
            background: #00875A;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
          .status_text{
            margin-left: 10px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #171717;
          }
        }
      }
    }
  }
  .progressText{
    margin-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #171717;
  }
  .block_btn{
    margin-top: 44px;
    background: rgba(143, 146, 161, 0.1);
    padding: 12px 0;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: #171717;
    border-radius: 16px;
    cursor: pointer;
    width: 100%;
    &:hover{
      opacity: .6;
    }
  }
}