@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');
.mainPageContainer{
  height: auto;
  //position: absolute;
  //top: 200px;
  .container{
    padding: 30px 165px 80px 165px;
    height: 100%;
    background-color: #f9f9f9;
    .title{
      font-weight: bold;
      font-size: 24px;
      font-family:'IBM Plex Sans', sans-serif;;
    }
    .subtitle{
      margin-top: 10px;
      font-weight: 300;
      font-size: 14px;
      color: rgba(23, 23, 23, 0.8);
    }
    .advert{
      margin-top: 40px;
      padding: 40px;
      border-radius: 24px;
      box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
      background-color: #fff;
      display: flex;
      .block_1{
        flex: 1.5;
        width: 700px;
        height: 214px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 24px;
        }
      }
      .block_2{
        flex: 2;
        margin-left: 50px;
        .block_title{
          font-family: 'IBM Plex Sans',sans-serif;
          font-weight: 300;
          font-size: 24px;

        }
        .block_description{
          margin-top: 10px;
          font-weight: normal;
          font-size: 16px;
          color: #8F92A1;
        }
        .block_btnContainer{
          .block_btn{
            background-color: #FF494D;
            color: #ffffff;
            padding: 14px 70px;
            border: none;
            border-radius: 16px;
            margin-top: 40px;
            cursor: pointer;
            &:hover{
              opacity: .8;
            }
          }
        }
      }
    }
    .service_block{
      .service_title{
        font-weight: bold;
        font-size: 32px;
        width: 400px;
        text-align: center;
        margin: 100px auto 0 auto;
      }
      .service_description{
        width: 500px;
        margin: 10px auto 0 auto;
        color: #8F92A1;
      }
      .service_elements{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .block{
          width: 300px;
          padding: 30px 24px;
          box-shadow: 0 0 10px 2px rgba(41, 41, 42, 0.07);
          border-radius: 24px;
          .block_title{
            color: #FF494D;
            text-align: center;
            font-size: 24px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: bold;
          }
          .block_price{
            margin-top: 5px;
            font-size: 32px;
            font-family: 'IBM Plex Sans', sans-serif;
            text-align: center;
            font-weight: bold;
          }
          .block_price_subtitle{
            margin-top: 5px;
            text-align: center;
            color: #8F92A1;
          }
          .block_btn{
            width: 240px;
            background-color: #FF494D;
            text-align: center;
            padding: 14px 30px;
            border-radius: 16px;
            margin-top: 30px;
            color: #ffffff;
            cursor: pointer;
            &:hover{
              opacity: .8;
            }
          }
          .block_data{
            .block_data_el{
              display: flex;
              align-items: center;
              margin-top: 15px;
              .block_img{
                flex: 1;
                width: 40px;
                img{
                  width: 100%;
                }
              }
              .block_data_title{
                flex: 7;
                margin-left: 10px;
                span{
                  font-weight: bold;
                  font-size: 14px;
                }

              }
            }
          }
        }
      }
    }
  }
}
.block_data_desctiption{
  margin-left: 49px;
  color: #8F92A1;
}