.modal_card_container{
  width: 540px;
  height: 324px;
  .modal_card_title_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px;
    .close {
      cursor: pointer;
      width: 22px;
      height: 22px;
      opacity: 0.3;
    }
    .close:hover {
      opacity: 1;
    }
    .close:before, .close:after {
      position: absolute;
      top: 38px;
      right: 50px;
      content: ' ';
      height: 23px;
      width: 2px;
      background-color: #333;
    }
    .close:before {
      transform: rotate(45deg);
    }
    .close:after {
      transform: rotate(-45deg);
    }
  }
  .modal_card_body_container{
    .modal_card_body{
      height: 165px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 22px;
      border-top: 1px solid #ccc;
      .modal_card_body_item{
        label{
          margin-left: 10px;
          color: #171717;
          font-size: 14px;
          span{
            color: #FF494D;
            font-weight: bold;
            cursor: pointer;
            &:hover{
              text-decoration: underline;
            }
          }
        }
      }
      .modal_btn{
        border-radius: 16px;
        background-color: #FF494D;
        text-align: center;
        color: #ffffff;
        padding: 16px;
        cursor: pointer;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}