.faqList{
  margin-top: 40px;
  .rowContainer{
    transition: .4s;
    border-top: 1px solid #cccccc;
    padding: 25px 0;
    cursor: pointer;
    height: auto;
    .faqRow{
      display: flex;
      justify-content: space-between;
      &:hover{
        .faqTitle{
          color: red;
        }
      }
      .faqTitle{
        font-size: 20px;
        font-weight: bold;
        text-align: start;
      }
    }
  }
  .faqText{
    transition: .4s;
    margin-top: 20px;
    font-size: 16px;
    font-style: normal;
    color: #171717;
    text-align: start;
  }
}