.container{
  background-color: #f9f9f9;
  .faqPage_container{
    padding-left: 165px;
    padding-right: 165px;
    padding-bottom: 100px;
    background-color: transparent;
    .faqPage_block{
      background: #FFFFFF;
      box-shadow: 1px 10px 20px rgba(41, 41, 42, 0.07);
      height: 757px;
      border-radius: 24px;
      display: flex;
      .section_block{
        flex: 1;
        padding: 20px;
        border-right: 1px solid #cccccc;
        .section_title{
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          color: #8F92A1;
          margin-top: 16px;
          cursor: pointer;
        }
      }
      .questions_block{
        flex: 3;
        padding: 0 30px;
      }
    }
  }
}