.applicationFormContainer{
  background-color: #f9f9f9;
  .container{
    padding: 30px 105px 30px 140px;
    .mini_container{
      margin-left: 200px;
    }
    .form_body{
      width: 100%;
      margin-right: 50px;
    }
  }
}
.container_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 165px;
}
.emptyModal{
  flex: 0.4;
  background: transparent;
}
.commentModal{
  flex: 0.4;
  background: #F3F6F8;
  border-radius: 24px;
  height: 140px;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  .commentContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F3F6F8;
    .comment{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      background: #FFFFFF;
      width: 100%;
      height: 100%;
      padding: 15px;
      border-radius: 16px;
      .commentHeader{
        display: flex;
        justify-content: flex-start;
        .userLogo{
          width: 32px;
          height: 32px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
          }
        }
        .userName{
          margin-left: 10px;
          .name{
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 20px;
            color: #171717;
          }
          .date{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #8F92A1;
          }
        }
      }
      .commentText{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: rgba(23, 23, 23, 0.8);
        padding: 5px;
      }
      .okBtn{
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        background: #00875A;
        color: #FFFFFF;
        padding: 10px 5px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
          opacity: .6;
        }
      }
      .readedBtn{
        margin-top: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        background: #00875A;
        color: #FFFFFF;
        padding: 10px 5px;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
        opacity: .6;
      }
    }
  }
}
.close {
  cursor: pointer;
  width: 22px;
  height: 22px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  top: 20px;
  right: 30px;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.title_container{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  margin-top: 16px;
  .progress{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00875A;
  }
  .title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: #171717;
    margin: 16px 0;
  }
  .description{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(23, 23, 23, 0.8);
  }
}

.example_container{
  flex: 0.9;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  margin-top: 16px;
  .example_title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #8F92A1;
  }
  .example{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(23, 23, 23, 0.8);
  }
}
.question{
  display: flex;
  align-items: center;
}