.progressContainer{
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  .container{
    .title{
      h3{
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        margin: 0;
      }
    }
    .progressLine{
    }
    .body{
      display: flex;
      align-items: center;
      margin-top: 44px;
      .body_video{
        flex: 1;
        border-radius: 32px;
        overflow: hidden;
      }
      .body_description{
        flex: 2;
        padding: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #8F92A1;
        mix-blend-mode: normal;
      }
    }
  }
}