.root{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  .title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00875A;
    margin-bottom: 10px;
  }
  .text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
    span{
      color: red;
      font-size: 1rem;
    }
  }
  .input{
    .textField{
      width: 100%;
      margin-top: 15px;
      border: none;
      border-radius: 15px;
      font-weight: bold;
      color: #8F92A1;
        label{
          font-weight: bold;
          color: #8F92A1;
          font-size: 14px;
          font-style: normal;
          line-height: 20px;
        }
    }
  }
}
.comment{
  cursor: pointer;
}