.root{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  flex: 1;
  .title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00875A;
    margin-bottom: 10px;
  }
  .text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
    span{
      color: red;
      font-size: 1rem;
    }
  }
  .input{
    .checkbox{
      margin-top: 30px;
      label{
        margin-left: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #171717;
      }
    }
  }
  .another{
    display: flex;
    align-items: center;
  }
}
.textField{
  height: 40px;
  margin-left: 20px !important;
  border-radius: 16px;
  label{
    transform: translate(15px, 10px) scale(1);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #8F92A1 !important;
  }
  div{
    height: 100% !important;
  }
}