.root{
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 24px;
  padding: 24px;
  .title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
  }
  .text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #171717;
    span{
      color: red;
      font-size: 1rem;
    }
  }
  .input{
    .checkbox{
      margin-top: 30px;
      label{
        margin-left: 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #171717;
      }
    }
  }
}