.header_container{
  height: 102px;
  padding: 0 165px;
  background: linear-gradient(180deg, rgba(245, 56, 56, 0.05) 0%, rgba(245, 56, 56, 0) 100%);
}
.header{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .startHeader{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .logo{
      cursor: pointer;
    }

  }
  .centerHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .headerTitle{
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 0 15px;
      .headerTitle_logo{
        width: 22px;
        height: 18px;
        svg{
          width: 100%;
          height: 100%;
        }
      }
      .headerTitle_title{
        margin-left: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: #8F92A1;
      }
      .active{
        color: #000000;
        path{
          fill: #000000;
        }
      }
    }
  }
  .endHeader{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .notificationIcon{
      margin-right: 15px;
    };
    .profile{
      display: flex;
      align-items: center;
      svg{
        margin-left: 7px;
      }
    }
  }
}
.modalProfile{
  z-index: 1;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  top: 80px;
  right: -80px;
  .block{
    padding: 24px 28px;
    cursor: pointer;
    span{
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #171717;
    }
    &:hover{
      opacity: .6;
    }
  }
}
@media (max-width: 760px) {
  .header_container{
    padding: 0 10px !important;
  }
}