.formContainer{
  display: flex;
  justify-content: center;
  .form{
    width: 500px;
    .formTitle{
      font-size: 32px;
      font-weight: bold;
      text-align: center;
    }
    .formSubtitle{
      margin-top: 10px;
      text-align: center;
      .successEmail{
        color: green;
        margin: 40px 0;
        font-weight: bold;
        span{
          color: #FF494D;
        }
      }
      .formSubtitle_question{
        color: grey;
      }
      .formSubtitle_answer{
        margin-left: 10px;
        color: #FF494D;
        font-weight: bold;
        cursor: pointer;
      }
      .textField{
        width: 100%;
        margin-top: 15px;
        border: none;
        border-radius: 15px;
      }
      .formFields{
        margin-top: 40px;
        width: 100%;
      }
      .formFooter{
        display: flex;
        justify-content: space-between;
        margin:25px 0;
        .check{
          label{
            margin-left: 10px;
          }
        }
        .forgotten{
          font-weight: bold;
          color: #FF494D;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
        .signInBtn{
          width:100%;
          border-radius: 16px;
          padding:15px 0;
          background-color:#FF494D;
          border:none;
          outline:none;
          color: #fff;
          font-size: 14px;
          font-weight: bold;
          cursor: pointer;
          &:hover{
            opacity: .8;
          }
        }
      .loadingBtn{
        width:100%;
        border-radius: 16px;
        padding:15px 0;
        background-color:grey;
        border:none;
        outline:none;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        &:hover{
          opacity: .8;
        }
      }
    }
  }
}
@media (max-width: 760px) {
  .formFields{
    margin-top: 20px !important;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }
  .formFooter{
    padding: 0 16px;
  }
  .signInBtn{
    width: 90% !important;
  }
  .loadingBtn{
    width: 90% !important;
  }
}