.anketa {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 24px;
    width: 100%;
}
.child{
    padding: 40px;
}


.status_pictures {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.status_wrapper {
    padding: 0 60px;
}

.anketa_status {
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 125% */
    letter-spacing: 0.4px;

    /* Black/B100 */
    color: #171717;
    font-weight: 700;
    margin-bottom: 40px;
}

.picture {
    position: relative;
    /* Light Gray/LG100 */
    background: #F3F6F8;
    border-radius: 17.6px;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
}



.circle {
    border: 1px solid #8F92A1;
    border-radius: 50%;
    /* padding: 12px; */
    background: #fff;
    z-index: 1;
    /* content: ''; */
    height: 26px;
    width: 26px;
}

.progress_bar {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.progress_wrapper {
    padding: 0 30px;
    margin-top: 30px;
}

.progress_bar:before {content: '';width: 98%;position: absolute;height: 1px;/* border-top: 2px dashed #8F92A1; */top: 49.5%;left: 1%;border-top: px dashed #8F92A1;background-image: linear-gradient(to right, #8F92A1 60%, rgba(255,255,255,0) 0%);background-position: bottom;background-size: 22px 1px;background-repeat: repeat-x;}

.progress_bar:before {
    /* position: absolute; */
    /* content: ''; */
}

.circle.done {
    background: #00875A;
    mix-blend-mode: normal;
    /* Green/G100 */
    border: 1px solid #00875A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
    z-index: 1;
}

.circle.done:after {content: '';position: absolute;z-index: -1;width: 25%;background: #00875A;height: 2px;}

.circle.first.done:after {
    left: 0;
}
.circle.third.done:after {
    left: 50%;
}

.circle.fourth.done:after {
    left: 75%;
}

.circle.second.done:after {
    left: 25%;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle.yellow svg {
    transform: scale(1.7);
}
.circle.yellow:before, .circle.yellow:after {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}
.circle.yellow:before, .circle.yellow:after {
    position: absolute;
    opacity: 0;
    border: 3px solid #FF991F;
    animation: pulse 1.5s infinite ease-out;
}
.circle.yellow:before {
    content:"";
    animation-delay: 0s;
}
.circle.yellow:after {
    content:"";
    animation-delay: 1.5s;
}
.circle.fifth.done:after {content: none;}





.circle.red svg {
    transform: scale(1.7);
}
.circle.red:before, .circle.red:after {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
}
.circle.red:before, .circle.red:after {
    position: absolute;
    opacity: 0;
    border: 3px solid #FF494D;
    animation: pulse 1.5s infinite ease-out;
}
.circle.red:before {
    content:"";
    animation-delay: 0s;
}
.circle.red:after {
    content:"";
    animation-delay: 1.5s;
}

.progress_text {
    display: flex;
    margin-top: 33px;
    text-align: center;
    justify-content: space-between;
}

.text_itself.done {}

.text_itself {
    width: 10%;
    color: #8F92A1;
    font-size: 14px;
}

.text_itself.done {
    color: #00875A;
}

.text_itself.yellow {
    color: #FF991F;
}

.text_itself.red {
    color: #FF494D;
}




@keyframes pulse {
    from {
        transform: scale(1);
        opacity: .5;
    }
    to {
        transform: scale(2, 2);
        opacity: 0;
    }
}


@media screen and (max-width: 1024px) {
    .anketa_status {
        width: 100%;
    }

    .status_pictures {
        flex-direction: column;
        order: 2;
    }

    .picture {
        width: 100px;
        height: 101px;
        margin-bottom: 20px;
    }

    .progress_wrapper {
        margin-top: 0;
        order: 1;
        padding: 30px 30px;
    }


    .status_wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .progress_text {
        order: 3;
        margin-top: 0;
        margin-left: 30px;
    }

    .progress_bar {
        flex-direction: column;
    }

    .progress_text {
        flex-direction: column;
        padding: 32px 0;
    }

    .progress_bar:before {
        width: 1px;
        height: 98%;
        top: 1%;
        left: 49.5%;
        background-image: linear-gradient(black 33%, rgba(255,255,255,0) 0%);
        background-position: right;
        background-size: 1px 3px;
        background-repeat: repeat-y;
    }

    .text_itself {
        width: 85%;
    }
    .progress_bar {
        height: 600px;
    }

    .picture {
        margin-bottom: 0;
    }
    .progress_wrapper {
        padding: 30px 30px 30px 0;
    }

    .progress_text {
        width: 35%;
        padding: 25px 0;
    }

    .circle.done:after {
        height: 25%;
        width: 2px;
    }

    .circle.first.done:after {
        top: 0;
        left: 48%;
    }

    .circle.second.done:after {
        top: 25%;
        left: 48%;
    }
    .circle.third.done:after {
        top: 50%;
        left: 48%;
    }
    .circle.fourth.done:after {
        top: 75%;
        left: 48%;
    }

}
@media screen and (max-width: 480px) {
    .anketa {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 320px) {

    .progress_wrapper {
        padding: 26px 25px 25px 0;
    }

    .progress_text {
        width: 40%;
        padding: 15px 0;
    }

    .picture {
        width: 70px;
        height: 70px;
    }

}